.banner{
    height: 60vh;
    background-position: left;
    background-repeat: no-repeat; 
    background-size: cover;  
    position: relative;
    display: flex;
    align-items: center;
    color: white;
}
/* 그라데이션 오버레이 */
.banner:before{
    content:'';
    background:linear-gradient(to top,black,transparent);
    position: absolute;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.banner-text-area{
    width: 50%;
    padding-left: 50px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
}

.banner-text-area h1{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.banner-text-area p{
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.release-date {
    font-size: 1.1rem;
    color: #ccc;
    margin-top: 10px;
}

/* mobile버전 - 화면너비가 768px 이하인 경우 */
@media screen and (max-width: 768px) {
    .banner {
        height: 50vh; 
    }

    .banner-text-area {
        width: 90%; 
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner-text-area h1 {
        font-size: 1.2rem; 
    }

    .banner-text-area p {
        font-size: 0.9rem; /* 본문 크기 축소 */
        display: -webkit-box;
       -webkit-box-orient: vertical; /* 모바일에서는 더 짧게 2줄만 표시 */
        overflow: hidden; /* 넘치는 글자 숨김*/
        -webkit-line-clamp: 3;
    }
    
    .release-date {
        font-size: 0.8rem;
    }
}